html {
	/*width: 100%;*/
	height: 280px;
	/*height: 170px;*/
}
body {
	margin: 0;
	padding: 0;
	color: #fff;
	/*width: 100%;*/
	height: 100%;
	position: relative;
}
.left {
	position: absolute;
	left: 0;
	top:0;
	right: 0;
	width: 200px;
	float: left;
	border: 1px inset #9C9B97;
	border-right:0;
	background-color: #AAAAAA;
}
.right {
	position: absolute;
	top: 0;
	left: 200px;
	right: 0;
	/*width: 100%;*/
	float: left;
	border: 1px inset #9C9B97;
	background-color: #949494;
	overflow-x: auto; 
	overflow-y:hidden;
}

.left .title ,.right .time{
	/*width: 100%;*/
	height: 50px;
}
.left .layerBox,.right .sliderBox {
	/*width: 100%;*/
	border-top: 1px inset #9C9B97;
	height:187px;
	/*height:100px;*/
	overflow-y: auto;
	overflow-x: hidden;
}
.layerBox .layer ,.sliderBox .slider{
	/*width: 100%;*/
	height: 30px;
	border-bottom: 1px inset #000;
	line-height: 30px;
	white-space:nowrap; 
}
.layer.active ,.slider.active ,.layer .name.active{
	background-color: #8B7B8B;
}

.title span {
	line-height: 50px;
}
.layer .layerHide {
	height: 100%;
	width: 30px;
	border-right: 1px inset #ccc;
	float: left;
	cursor:pointer;
}
.layerHide img {
	margin: 5px;
}
.layer .layerName {
	height: 100%;
	text-align: center;
	float: left;
	margin-left: 5px;
}
.layerName img {
	margin: 5px 0;
	display: block;
	float: left;
}
.layerName .name {
	width: 70px;
	border: 0;
	background-color: inherit;
	color: #fff;
	text-align: center;
	display: block;
	margin: 7px;
	float: left;

}
.layerName .delLayer {
	display: none;
	cursor:pointer;
}
.layerName .name:focus {
	outline: 0;
}

.slider {
}
.animate {
    float: left;
    height: 100%;
}
.main {
	width: 20px;
	height: 100%;
	background: #bbb;
	border-left: 0;
	border-right: 0;
	cursor: move;
	float: left;
}
.main.active {
	background-color: #FF7256;
}
.edge {
	width: 3px;
	height: 100%;
	background-color: #fff;
	cursor: col-resize;
	float: left;
}

.head {
	margin-left: 0;
}

